* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
    line-height: 1.6;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: #4A90E2; 
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #cce7ff; 
}

header {
    background-color: #80adcb; 
    color: #005b96;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #e6f9ff; 
}

.intro-text {
    flex: 1;
    margin-right: 20px;
    color: #333;
}

.intro-img {
    flex: 1;
}

.intro-img img {
    width: 100%;
    height: auto;
    border: 3px solid #fff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #d6eff7; 
}

.main-text {
    flex: 1;
    margin-right: 20px;
    color: #004d66; 
}

.main-img img {
    width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.additional-content {
    padding: 20px;
    background-color: #ecfaff; 
}

.text-img-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text {
    flex: 1;
    margin-right: 20px;
    color: #333;
}

.img img {
    width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #4A90E2; 
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(400px); 
    }
}

.bounce {
    display: inline-block;
    animation: bounce 2s infinite;
    color: #fff;
    font-weight: bold;
    background-color: #4A90E2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
