* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.intro-text {
    flex: 1;
    margin-right: 20px;
}

.intro-img {
    flex: 1;
}

.intro-img img {
    width: 100%;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eaeaea;
}

.main-text {
    flex: 1;
    margin-right: 20px;
}

.main-img img {
    width: 100%;
    height: auto;
}

.additional-content {
    padding: 20px;
}

.text-img-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.img img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(400px); 
    }
}

.bounce {
    display: inline-block;
    animation: bounce 2s infinite; 
}
